<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить отдел</title>
</head>
<body>

    {% if error != '' %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}

    <h1>Добавить отдел</h1>

    <form method="POST">
        {% csrf_token %}
        <p>Название отдела: <input required type="text" name="name" class="name"></p>
        <input type="submit">
    </form>
</body>
</html>