<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>

    {% if error != '' %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}

    <h1>Вход</h1>
    <form method="post">

        {% csrf_token %}
        <input name="nickname" required type="text" class="nickname">
        <input name="password" required type="password" class="password">
        <input type="submit">

    </form>
</body>
</html>